RedirectMatch 301 ^/docs-legacy-grails-cache/snapshot(.*) https://grails.apache.org/docs/snapshot/guide/cache.html
RedirectMatch 301 ^/docs-legacy-grails-cache/latest(.*) https://grails.apache.org/docs/latest/guide/cache.html
